#reset-password {
	width: 100vw;
	height: 100vh;

	display: flex;
	background-color: #fff;
}

.reset-password-form {
	padding: 175px 70px;
}

.reset-password-form legend {
	color: #5c8599;
	font-size: 32px;
	font-weight: 700;
	padding-bottom: 24px;
}

.reset-password-form span {
	color: #5c8599;
	font-size: 18px;
	line-height: 28px;
	font-weight: 600;
}

.reset-password-form .input-block {
	display: flex;
	flex-direction: column;
}

.input-block {
	padding-top: 40px;
}

.reset-password-form label {
	color: #8fa7b3;
	font-size: 16px;
}

.input-block input {
	width: 360px;
	height: 64px;

	background: #f5f8fa;
	border: 1px solid #d3e2e5;
	border-radius: 20px;
	margin: 20px 0;
	padding-left: 20px;
}

.login-button {
	width: 360px;
	height: 64px;
	margin-top: 42px;

	background: #37c77f;
	border-radius: 20px;
	color: #fff;
	font-size: 16px;
	border: none;
	transition: background-color 0.2s;
}

.login-button:hover {
	background-color: #3ee08f;
}

.error-message p {
	color: #000;
	font-size: 16px;
}